hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 4px solid black;
}

body {
  padding-top: 70px;
}

.text-mark {
  font-family: "Dancing Script", cursive;
}

.text-describe {
  font-size: 1.5rem;
}

.bg-banner {
  padding: 20px 20px;
  margin-top: 10px;
  background-image: url("/img/bg-banner.jpg");
  background-size: cover;
}

.icon {
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
  border: 1px solid transparent;
}

.icon:hover {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}

.icon-facebook {
  background: #3b5998;
  color: #fff;
}

.icon-instagram {
  background: #3f729b;
  color: #fff;
}

.icon-twitter {
  background: #00acee;
  color: #fff;
}

.icon-phone {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.623);
}

.nav-home {
  font-size: 1.5rem;
}

.carousel-head {
  /* any dimensions are fine, it can be responsive with max-width */
  width: 100;
  height: 512px;
}

.carousel-head .carousel-inner {
  /* make sure your .items will get correct height */
  height: 100%;
}

.carousel-head .carousel-item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.carousel-head .carousel-item img {
  visibility: hidden;
}

.carousel-head .carousel-caption {
  color: black;
  font-weight: bold;
  margin-bottom: 2rem;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.4);
}

.card-product {
  border: 1px solid rgba(4, 97, 151, 0.795);
  height: 350px;
}

.cf {
  position: relative;
  width: 250px;
  height: 290px;
  margin: 0 auto;
}

.cf img {
  position: absolute;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.cf img.top:hover {
  opacity: 0;
}

.card-header a {
  text-decoration: none;
  color: #fff;
}

.card-header a:hover {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
}

.link-tel {
  text-decoration: none;
  color: #fff;
  padding: 2rem 1rem;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.623);
}

.link-tel:hover {
  text-decoration: none;
  color: #fff;
}

